* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    width: 1350px;
    height: max-content;
}

.input-area {    
    width: 50%;
    min-height: 150px;
    padding: 10px;
    outline: none;
    font-size: 0px;
    resize: none;
    background-color: grey;
}